<div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="https://www.linkedin.com/in/niormeno/" class="p2" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/normeno" class="p2" target="_blank">
            <i class="fa fa-github"></i>
        </a>

        <a href="https://twitter.com/ormeno_nicolas" class="p2" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>

        <a href="https://medium.com/@normeno" class="p2" target="_blank">
            <i class="fa fa-medium"></i>
        </a>
    </nav>
    <div class="circle-portrait">
        <img src="https://normeno-sites.s3.amazonaws.com/resume.png"
            class="img-profile"
            alt="Profile Image">
    </div>
</div>

<div class="container">
    <section id="profile" class="row">
        <div class="col-sm">
            <h3>Perfil</h3>
            <p>
                Hola! Soy Nicolás Ormeño, de profesión ingeniero informático, con experiencia en el 
                diseño y desarrollo de software.
                Cuento con experiencia en sistemas para agencias creativas, y en 
                desarrollo de sistemas para américa latina.
            </p>
        </div>
    </section>

    <section id="information" class="row">
        <div class="col-sm-6 section-group">
            <h3>Información personal</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="align-baseline table-title">Nombre</td>
                        <td class="align-top">Nicolás F. Ormeño Rojas</td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Edad</td>
                        <td class="align-top">29 años</td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">País</td>
                        <td class="align-top">Chile</td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Idioma</td>
                        <td class="align-top">Español</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 section-group">
            <h3>Información de contacto</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="align-baseline table-title">Email</td>
                        <td class="align-top">ni.ormeno@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Website</td>
                        <td class="align-top">normeno.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="exp-job" class="row">
        <div class="col-sm-6 section-group">
            <h3>Experiencia</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="align-baseline table-title">Digevo Group</td>
                        <td class="align-top">08/2017 - 09/2019</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Responsable del diseño, planificación, desarrollo y despliegue de diversas plataformas.
                            Enfocado en integraciones con empresas partner, como también desarrollar nuevas funcionalidades
                            a sistemas internos.
                        </td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Freelance</td>
                        <td class="align-top">12/2015 - 08/2017</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Enfocado en el levantamiento de requerimientos, propuestas, desarrollo,
                            administración de servidores, y gestión del equipo.
                        </td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Youtouch</td>
                        <td class="align-top">02/2015 - 07/2016</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Función mixta entre investigación de nuevas tecnologías para desarrollar nuevas soluciones,
                            y todos los desarrollos que involucren tecnología web.
                        </td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Minkay</td>
                        <td class="align-top">08/2014 - 02/2015</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Responsable de la continuidad de la plataforma tecnológica, abarcando principalmente 3 áreas, la
                            investigación de nuevas tecnologías, el desarrollo web y la administración y mantención de servidores.
                        </td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Ibex</td>
                        <td class="align-top">09/2013 - 08/2014</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            En primera instancia, practicante de ingeniero informático trabajando en el área de desarrollo web. En
                            donde al cabo de finalizar esta labor, se ingresa de forma indefinida a la empresa.
                        </td>
                    </tr>
                    <tr>
                        <td class="align-baseline table-title">Digevo</td>
                        <td class="align-top">07/2012 - 11/2013</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Responsable de administración AWS y servidores Linux. Desarrollo de sistemas
                            para la visualización crítica de sistemas.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 section-group">
            <h3>Educación</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="align-baseline table-title">
                            Magister ing. informática, Unab
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <i>2019 - Actual</i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            Master enfocado en potenciar el concepto de gestión y desarrollo 
                            de la Informática como elemento estratégico para el fortalecimiento 
                            y crecimiento de toda organización.
                        </td>
                    </tr>

                    <tr>
                        <td class="align-baseline table-title">
                            Ingeniería informática, DuocUC
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <i>2011 - 2014</i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            <!-- TODO -->
                        </td>
                    </tr>

                    <tr>
                        <td class="align-baseline table-title">
                            Adm. de redes computacionales, DuocUC
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <i>2008 - 2011</i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-description">
                            <!-- TODO -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>