<section id="introduction" class="row">
    <div class="col-sm">
        <div class="circle-portrait">
            <img src="https://normeno-sites.s3.amazonaws.com/resume.png"
                class="img-profile"
                alt="Profile Image">
        </div>

        <div id="name-job">
            <h1>Nicolás Ormeño</h1>
            <h2>Software Developer</h2>
        </div>
    </div>
</section>

<section id="social" class="row">
    <div class="col-sm">
        <a href="https://www.linkedin.com/in/niormeno/" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/normeno" target="_blank">
            <i class="fa fa-github fa-2x"></i>
        </a>

        <a href="https://twitter.com/ormeno_nicolas" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </div>
</section>

<section id="links" class="row">
    <div class="col-sm">
        <a routerLink="/resume">
            <button type="button" class="btn btn-info">Resume</button>
        </a>
    </div>
</section>